.paper {
  position: relative;
  width: 100%;
  background-image: url("/mirrored-squares.png");

  aspect-ratio: 2.5;
  max-height: 40rem;
}
@media (max-width: $interposers-bp-mobile) {
  .paper {
    aspect-ratio: unset;
    max-height: none;
  }
}

.flexContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: row;
}
@media (max-width: $interposers-bp-mobile) {
  .flexContainer {
    flex-direction: column;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  max-width: 40rem;
}
.imageContainer {
  height: 100%;
  width: 40%;
  min-width: 0;
  max-width: 40rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 100%;
  height: auto;
  aspect-ratio: 5/4;
  object-fit: contain;
}
.badge {
  position: absolute;
  top: var(--mantine-spacing-md);
  right: 0;
}
@media (max-width: $interposers-bp-mobile) {
  .textContainer {
    width: 100%;
  }
  .imageContainer {
    width: 100%;
    max-width: unset;
    height: auto;
  }
  .image {
    width: 80%;
  }
}
