.stack {
  max-width: 80rem;
  margin: var(--mantine-spacing-md) auto;
}
.cardsContainer {
  display: flex;
  width: 100%;
  gap: var(--mantine-spacing-md);
  align-items: stretch;
  flex-direction: row;
}
@media (max-width: $interposers-bp-mobile) {
  .stack {
    margin: 0;
  }
  .cardsContainer {
    flex-direction: column;
  }
}
